<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Hung -ocr</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
	.col-6,.col{
		padding-top: 40px;
		max-width: 570px;
	}
	span{
		padding: 0 10px;
	}
</style>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Input</h3>
				<div class="form">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						
						<div class="form-group">
							<label for="exampleFormControlFile1">Image Input</label>
							<input type="file" class="form-control-file" id="exampleFormControlFile1" name="myfile">
						</div>

						<button type="submit">Process</button>
					</form>

				</div>
			</div>

			<div class="col-6">
				<h3>1. Uploaded Image</h3>
				<div class="image">
					<img style="max-width: 570px;" src="{{ uploaded_file_url }}" />
				</div>

			</div>

			<!-- <div class="col-6">
				<h3>2. Dilated Image</h3>
				<div class="image">
					<img style="max-width: 570px;" src="{{ dilated_file_url }}" />
				</div>

			</div> -->

			<div class="col-6">
				<h3>3. Drawed Image</h3>
				<div class="image">
					<img style="max-width: 570px;" src="{{ drawed_file_url }}" />
				</div>

			</div>

			<div class="col-6">
				<h3>4. Cropped Image</h3>
				<div class="image">
					<img style="max-width: 570px;" src="{{ cropped_file_url }}" />
				</div>

			</div>

			<div class="col-6">
				<h3>5. Text Line detection</h3>
				<div class="image">
					<img style="max-width: 570px;" src="{{ text_line_file_url }}" />
				</div>

			</div>
			<div class="col-6">
				<h3>6. Merged Text Line detection</h3>
				<div class="image">
					<img style="max-width: 570px;" src="{{ final_text_line_file_image_url }}" />
				</div>

			</div>
			<div class="col-12" style="width: 100% !important">
				<h3>7. Cropped Image</h3>
				<div class="image" style="display: inline-block; ">
					{% if cropped_image_array %}
						{% for e in cropped_image_array %}
							<div style="border-style: solid; display: inline-block; " class="cropped_result">						
								<img class="image_inside" id="cropped_image_{{e.seq}}" style="max-width: 570px; border-style: solid; border-color: lawngreen" src="{{e.url}}" />
								<p class="result">
									
								</p>
							</div>
						{% endfor %}
					 {% endif %}
				</div>

			</div>
			<div class="col-12">
				<h3>8. Merged Text Recognization</h3>
				<div class="image">
					<p id="merged_text" style="white-space: pre;"></p>
				</div>

			</div>

			
		</div>
	</div>


	
</body>
<script type="text/javascript"> 
	var cropped = document.getElementsByClassName("cropped_result");

	var i = 0;

	function next(i){
		if(i < cropped.length){
			obj = cropped[i]
			var source = obj.getElementsByClassName('image_inside')[0].src.replace(window.location.href,"");
			var source_id = obj.getElementsByClassName('image_inside')[0].id.replace("cropped_image_","");
			var resultdiv = obj.getElementsByClassName('result')[0];
			resultdiv.style.textAlign = "center"
			resultdiv.innerHTML = '<img style="max-width: 100%px"; src="http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_41.gif" />'
			$.post(window.location.href +"text_recognization",
			{
				url: source,
				id:source_id,
				transaction:'{{transaction_num}}',
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			function(data, status){
				console.log("Data: " + data.text + "\nStatus: " + status);
				var resultdiv = obj.getElementsByClassName('result')[0];
				if(!isNaN(data.conf))
					resultdiv.innerHTML = '<p><b>Text: </b>'+data.text+'</p><p><span><b>ID: </b>'+data.seq+'</span><span><b>Conf: </b>'+data.conf+'</span></p>';
				else{
					resultdiv.innerHTML = '<p><b>Text: </b>'+data.text+'</p><p><b>Conf: </b>'+0+'</p>';
				}
				i += 1;
				next(i);
			});
		}else if(i==cropped.length){
			$.post(window.location.href +"text_combine",
			{
				input_image: '{{final_text_line_file_image_url}}',
				transaction:'{{transaction_num}}',
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},function(data, status){
				console.log("Data: " + data.text + "\nStatus: " + status);
				if (data.ok){
					merged_text_dev = document.getElementById("merged_text");
					merged_text_dev.innerHTML = data.text
				}
			});
		}
	}

	next(0);

	// for (var i = 0; i < cropped.length; i++) { 
	// 	obj = cropped[i]
	// 	var source = obj.getElementsByClassName('image_inside')[0].src.replace(window.location.href,"");
	// 	var resultdiv = obj.getElementsByClassName('result')[0];
	// 	resultdiv.style.textAlign = "center"
	// 	resultdiv.innerHTML = '<img style="max-width: 100%px"; src="http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_41.gif" />'
    // 	$.post(window.location.href +"text_recognization",
	// 	{
	// 		url: source,
	// 		csrfmiddlewaretoken: '{{ csrf_token }}'
	// 	},
	// 	function(data, status){
	// 		next(function(){
	// 			console.log("Data: " + data.text + "\nStatus: " + status);
	// 			var resultdiv = obj.getElementsByClassName('result')[0];
	// 			resultdiv.innerHTML = '<p><b>Text: </b>'+data.text+'</p><p><b>Conf: </b>'+data.conf+'</p>'
	// 		});
	// 	});
	// }

	// $('.cropped_result').each(function(i, obj) {
	// 	var source = obj.getElementsByClassName('image_inside')[0].src.replace(window.location.href,"");
	// 	var resultdiv = obj.getElementsByClassName('result')[0];
	// 	resultdiv.style.textAlign = "center"
	// 	resultdiv.innerHTML = '<img style="max-width: 100%px"; src="http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_41.gif" />'
    	// $.post(window.location.href +"text_recognization",
		// {
		// 	url: source,
		// 	csrfmiddlewaretoken: '{{ csrf_token }}'
		// },
		// function(data, status){
		// 	console.log("Data: " + data.text + "\nStatus: " + status);
		// 	var resultdiv = obj.getElementsByClassName('result')[0];
		// 	resultdiv.innerHTML = '<p><b>Text: </b>'+data.text+'</p>\
		// 							<p><b>Conf: </b>'+data.conf+'</p>'
		// });
	// });
 </script>
</html>